.panga_sisu {
  margin-top: 50px;
  line-height: 50px;
}

.centered-menu {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: flex-start;

}

.primaryPanel {
  margin: 10px;
  width: 700px;
  height: 500px;
}

.primaryPanelInner {
  width: 1vl;
  height: 90px;

  margin: 20px;

  border-radius: .25rem;

  text-align: left;

  padding: 10px;

  background-color: #3b3b3b;
}

.secondaryPanel {
    height: 200px;
    margin-left: auto;
    margin-right: 0;
}

.panel {
  min-width: 400px;

  font-family: "SBE Medium", Arial, sans-serif;
  color: white;

  min-height: 100px;

  padding: 10px;

  background-color: #222222;
  border: solid 2px var(--bg-dark);
  border-radius: .25rem;
  box-shadow: 0 0 1.5px 1px black;
}

.account_no_toggle {
  user-select: none;
  letter-spacing: 1.25px;
}

.account_no_toggle.shown {
  background-color: #616161;
  
  padding: 2.5px;

  border-radius: .25rem;

  cursor: pointer;
}

.account_no_toggle.hidden {
  background-color: #616161;
  
  padding: 2.5px;

  border-radius: .25rem;

  cursor: pointer;
}

.account_no_toggle.hidden > .text {
  opacity: 0;
}

.shown {
  
}

.hidden {

}

.balanceNumbers {
  font-family: "SEB Bold", Arial, sans-serif;
  font-size: 40px;
}

.balanceSymbol {
  font-family: "SEB Regular", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 20px;
}

.panelTitle {
  font-family: "SEB Bold", Arial, sans-serif;
  font-size: 25px;
  text-align: left;

  margin-left: 20px;
  margin-top: 20px;
}

.greetingLabel {
  font-family: "SEB Medium", Arial, sans-serif;
  font-weight: bold;
  color: #ffffff;

  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 10px;

  transition: .2s ease-in-out;
}

.greetingLabel:hover {
  letter-spacing: 5px;
  transition: .2s ease-in-out;
}