.panga_sisu {
  margin-top: 50px;
  line-height: 50px;
}

.centered-menu {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: flex-start;

}

.primaryPanel {
  margin: 10px;
  min-width: 800px;
  min-height: 500px;
}

.accountBackground {
  width: .8vl;
  height: 90px;

  margin: 20px;

  border-radius: .25rem;

  text-align: left;

  padding: 10px;

  background-color: #3b3b3b;
}

.panelInner {
  width: .8vl;

  margin: 20px;

  border-radius: .25rem;

  text-align: left;

  padding: 10px;

  background-color: #3b3b3b;
}

.exchangeRateChart {}

.secondaryPanel {
  width: auto;
  height: 300px;
  margin-left: auto;
  margin-right: 0;
}

.panel {

  font-family: "SBE Medium", Arial, sans-serif;
  color: white;

  padding: 10px;

  background-color: #222222;
  border: solid 2px var(--bg-dark);
  border-radius: .25rem;
  box-shadow: 0 0 1.5px 1px black;
}

.account_no_toggle {
  user-select: none;
  letter-spacing: 1.25px;
}

.account_no_toggle.shown {
  background-color: #616161;

  padding: 2.5px;

  border-radius: .25rem;

  cursor: pointer;
}

.account_no_toggle.hidden {
  background-color: #616161;

  padding: 2.5px;

  border-radius: .25rem;

  cursor: pointer;
}

.account_no_toggle.hidden>.text {
  opacity: 0;
}

.shown {}

.hidden {}

.dozer-img {
  transform: rotateY(180deg);
  display: none;
}

.bank-content {
  display: flex;
  flex-direction: row;
}

.bank-closed {
  animation: close-up-shop ease-out 10s forwards;
}

.balanceNumbers {
  font-family: "SEB Bold", Arial, sans-serif;
  font-size: 40px;
}

.balanceSymbol {
  font-family: "SEB Regular", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 20px;
}

.panelTitle {
  font-family: "SEB Bold", Arial, sans-serif;
  font-size: 25px;
  text-align: left;

  margin-left: 20px;
  margin-top: 20px;
}

.greetingLabel {
  font-family: "SEB Medium", Arial, sans-serif;
  font-weight: bold;
  color: #ffffff;

  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 10px;

  transition: .2s ease-in-out;
}

.greetingLabel:hover {
  transform: translateY(-5px);
  transition: .2s ease-in-out;
}

@keyframes close-up-shop {
  from {
    padding-right: initial;
  }

  to {
    padding-left: 200%;
  }
}